.query-container {
  padding-inline: var(--mobile-inline);
  margin-bottom: 160px;
  position: relative;
  max-width: var(--max-width);

  @media (min-width: 600px) {
    padding-inline: var(--desktop-inline);
  }

  @media (min-width: 1024px) {
    margin-bottom: 50px;
    margin-inline: auto;
  }
}