.searchbar-container {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 0;
  border-radius: 6px;
  max-width: 500px;
  margin-bottom: 50px;

  @media (min-width: 1024px) {
    padding: 4px 20px 4px 0;
  }

  .search-icon {
    font-size: 18px;
    padding-inline: 26px;
    cursor: pointer;
  }

  .searchbar {
    border: none;
    height: 40px;
    width: 100%;
    font-family: var(--font);
    outline: none;
    font-size: 16px;

    @media (min-width: 1024px) {
      font-size: 14px;
    }
  }
}